//! **************************************************************************
// Written by: Map P.20131013 on Tue Jun 08 11:29:52 2021
//! **************************************************************************

SCHEMATIC START;
COMP "vga_out_g<1>" LOCATE = SITE "N9" LEVEL 1;
COMP "vga_out_g<2>" LOCATE = SITE "P9" LEVEL 1;
COMP "vga_out_g<3>" LOCATE = SITE "L10" LEVEL 1;
COMP "vga_out_g<4>" LOCATE = SITE "M10" LEVEL 1;
COMP "vga_out_g<5>" LOCATE = SITE "P11" LEVEL 1;
COMP "vga_out_vs" LOCATE = SITE "L13" LEVEL 1;
COMP "rst_n" LOCATE = SITE "L3" LEVEL 1;
COMP "vga_out_b<0>" LOCATE = SITE "P7" LEVEL 1;
COMP "vga_out_b<1>" LOCATE = SITE "M7" LEVEL 1;
COMP "vga_out_b<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "vga_out_b<3>" LOCATE = SITE "N8" LEVEL 1;
COMP "vga_out_b<4>" LOCATE = SITE "L7" LEVEL 1;
COMP "vga_out_r<0>" LOCATE = SITE "M11" LEVEL 1;
COMP "vga_out_r<1>" LOCATE = SITE "M12" LEVEL 1;
COMP "clk" LOCATE = SITE "T8" LEVEL 1;
COMP "vga_out_r<2>" LOCATE = SITE "L12" LEVEL 1;
COMP "vga_out_r<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "vga_out_r<4>" LOCATE = SITE "M13" LEVEL 1;
COMP "vga_out_g<0>" LOCATE = SITE "M9" LEVEL 1;
COMP "vga_out_hs" LOCATE = SITE "M14" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "R_clk_25M" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 50 MHz HIGH 50%;
SCHEMATIC END;

